th {
    background-color: #453B03;
    color: white;
}

.logos {
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}

.logo {
    height: 70px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}

.col-rank {
    width: 30px;
    text-align: center;
    vertical-align: center;
    line-height: 100%;
}

.col-team-name {
    font-weight: bold;
    font-size: 16px;
}

.col-team-institution {
    font-size: 13px;
}

.col-score {
    width: 55px;
    text-align: center;
}

.num-attempts {
    font-size: 16px;
    font-weight: bold;
}

.num-penalty {
    font-size: 13px;
}

.first-ac {
    background-color: #006400;
    color: white;
}

.ac {
    background-color: #3f6;
}

.wa {
    background-color: #f66;
}
