@charset "utf-8";
/* CSS Document */

.center{
	text-align: center;
}

.title{
	
}

#main{
	background-color: transparent;
}

canvas{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.division-item {
    padding: 1px;
	margin: 3px;
    text-align: center;
/*    font-weight: lighter;*/
    font-size: medium;
    height: auto;
	border-radius: 50px;
	color: #000797;
	border: solid 3px #000797;
    /*line-height: 100px;*/
}
.division-item .panel-heading {
    height: 40px;
    line-height: 60px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.division-item .panel-heading span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.division-item:hover {
    cursor: move;
}

.division-item-top {
    font-weight: bold;
	background: #000797;
	color: #ffffff;
}

.division-item-placeholder .panel {
    background: none;
}

.division-item-placeholder .panel .panel-heading {
    background: none;
}

.clear {
    clear: both;
}

.division-pool {
    padding: 9px;
	width: auto;
    border: 1px dashed gray;
}